.wrap {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.login-form {
  background: #ffffff;
  max-width: 400px;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
}

.logo {
  width: 65%;
  display: block;
  margin: 0 auto;
}

.txt {
  color: #bdbdbd;
  font-weight: 800;
  text-align: center;
  margin-top: 10px;
}

.login-form-button {
  width: 100%;
  /* background-color: #3F51B5;
  border-color: #3F51B5; */
}
/* .login-form-button:hover {
  background-color: #303F9F;
  border-color: #303F9F;
} */