/* .content-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #eeeeee;
} */

.content {
    width: 720px;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    margin: 190px auto 0;
}