/* web version */

    .header {
        background-color: #ffffff;
        border-bottom: none;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 200;
    }

    .logoBox {
        margin: 25px auto 20px;
        width: 220px;
    }

    .header-logo {
        display: block;
        width: 100%;
        margin: 0px auto;
        cursor: pointer;
    }



/* mobile version */

    @media screen and (max-width: 480px) {
        .logoBox {
            margin: 15px auto 10px;
            width: 100px;
        }
    }