/* body {
    background-color: #f3f3f4;
} */

.main {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}


/* web version */

    /* .web {
        border: 1px solid olivedrab;
    } */
    
    .mobile {
        /* border: 1px solid orangered; */
        display: none;
    }


/* mobile version */

    @media screen and (max-width: 736px) {
        .web {
            display: none;
        }

        .mobile {
            display: block;
        }
        
    }