.post-write {
    text-align: center;
    padding: 15px;
}

.pw-close {
    float: left;
    font-size: 1.3em;
    cursor: pointer;
}

.pw-header {
    display: inline-flex;
    padding: 3.2px 0;
}

.pw-ok {
    background-color: #3F51B5;
    float: right;
    color: #ffffff;
    border-radius: 20px;
    padding: 5.2px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.pw-title > input {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e3e3e3;
    font-size: 1.5em;
    margin: 15px 0;
    outline: none;
    padding: 5px 10px;
}

.pw-contents {
    position: relative;
}

.pw-contents > textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 0;
    font-size: 1.2em;
    outline: none;
    padding: 10px;
}

/* .pw-placeholder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #a7a7a7;
    font-size: 1.2em;
    text-align: left;
    padding-left: 10px;
    z-index: -1;
    background-color: lavenderblush;
    display: none;
} */

/* @media screen and (max-width: 736px) {
    .pw-placeholder {
        color: #a7a7a7;
    }
} */