.postList {
    min-height: 78px;
    overflow: hidden;
    cursor: pointer;
    padding: 20px;
}

.postList {
    border-bottom: 1px solid #e3e3e3;
}

.postList > a {
    text-decoration: none;
    color: #000000;
}

.postList-title {
    font-size: 1.3em;
    max-height: 28px;
    overflow: hidden;
}

.postList-contents {
    margin: 5px 0;
    max-height: 22px;
    overflow: hidden;
    color: #757575;
}

.postList-time {
    font-size: 0.8em;
    float: left;
    color: #9e9e9e;
}

.postList-writer {
    font-size: 0.8em;
    color: #9e9e9e;
    float: left;
}

.postList-status {
    float: right;
}

.postList-like {
    font-size: 0.8em;
    color: #c62917;
    float: left;
    margin-right: 10px;
}

.postList-reply {
    font-size: 0.8em;
    color: #0288D1;
    float: left;
}

.postList:hover {
    background-color: #f3f3f3;
}