.notice-search {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.notice-search-icon {
    display: inline-block;
    font-size: 1.3em;
    color: #757575;
    max-height: 35.6px;
    line-height: 35.6px;
    position: absolute;
    left: 20px;
}

.notice-search-input {
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    padding: 7px;
    padding-left: 35px;
}

.notice-search-input:focus {
    outline: none;
}

.notice-search-cancel {
    display: inline-block;
    font-size: 1.1em;
    color: #757575;
    max-height: 35.6px;
    line-height: 35.6px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}